* {
    box-sizing: border-box;
    margin: 0;
    margin-inline: 50px;
}
h1{
    color:rgb(94, 236, 255);
    text-align: center;
    
}
body{
    background-image: linear-gradient(pink,rgb(211, 20, 20)); 
    min-height: 100vh;
    color: rgb(94, 236, 255);
    font-size: 25px;
    text-align: left;
}

.endtext {
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: right;
    }
.item1 {
    color:blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    background-color:rgb(158, 158, 158);
    border: 3px solid rgb(0, 225, 255);
    border-width: 10px;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    max-width: 400px;
}
.item2 {
    color:rgb(190, 123, 253);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
    background-color:rgb(92, 92, 92);
    border: 3px solid rgb(255, 69, 246);
    border-width: 10px;
    border-radius: 30px;
    font-size: larger;
    margin: 10px;
    padding: 5px;
    font-size: larger;
    max-width: 400px;
}
.item3 {
    color:rgb(28, 0, 54);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Arial, sans-serif ;
    text-align: center;
    background-color:rgb(61, 61, 61);
    border: 3px solid rgb(202, 14, 77);
    border-radius: 30px;
    border-width: 10px;
    font-size: larger;
    margin: 10px;
    padding: 5px;
    max-width: 400px;
}
div {
    box-sizing: border-box;
    margin: 5px;
    color:rgb(5, 117, 151);
    background-color:rgb(0, 0, 0);
    border: 3px solid rgb(107, 3, 38);
    border-radius: 30px;
    border-width: 10px;
    padding: 50px;
    max-width: 500px;
    display:flex;
    justify-content: center;
    align-self: center;
}
p{
    color:rgb(42, 131, 233);
}